<!DOCTYPE html>
<html>
<head>

{% unless title and title != '' %}
{% assign title = 'Overviewer' %}
{% endunless %}


<title>{{ title }}</title>

<style type="text/css">
* {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

/*
 * See https://developer.mozilla.org/en/Images,_Tables,_and_Mysterious_Gaps
 *+ for why this is needed. (it doesn't apply to just tables)
 */
img {
	display: inline-block;
	vertical-align: bottom;
}

#wrap, body {
	margin: 0;
	padding: 0;
}

#wrap > * {
	padding: 10px;
}

blockquote {
	position: relative;

	margin: 10px;

	padding: 0 2.5em;

	font-style: italic;
}

blockquote::before, blockquote::after {
	position: absolute;
	font-size: 2em;
	font-weight: bold;
}

blockquote::before {
	content: '\201C';
	margin-left: -1em;
	margin-top: -0.2em;
}

blockquote::after {
	content: '\201D';
	right: 0.5em;
}

figure {
	position: relative;
}

figcaption::before {
	content: "\2014";
}

figcaption {
	padding: 0;
	margin: 0;
	margin-left: 60px;
	font-style: italic;
}

#footer {
	font-size: 0.8em;
	border-top: 1px solid black;
	margin-top: 100px;
	clear: both;
}

#main {
	float: left;
	width: 75%;
}

#related {
	float: left;
	width: 25%;
	border: none;
	border-left: 1px solid black;
}

#header {
	margin: 0px;
	border: none;
	border-bottom: 1px solid black;
}

#header h1 {
	margin: 0;
	padding: 0 10px;
}

#header, #related {
	background: #eee;
}

.category #related {
	background: white;
	float: none;
	width: 100%;
	border-left: none;
}

.related {
	clear: both;
	list-style: none;
}

.related .icon {
	display: none;

	float: left;
	padding: 10px;
	margin: 0;

	height: 90px;
	width: 90px;

	text-align: center;
}

.category .related .icon {
	display: inline-block;
}

.related .icon img {
	outline: none;

	max-height: 70px;
	max-width: 70px;
}

.related .result {
	display: inline-block;
}

.category .related .result {
	display: inline;
}

</style>
</head>
<body class="{{ type }}">
<div id="wrap">

<div id="header">
	<h1>{{ title }}</h1>
	<form action="/" method="GET">
		<input type="text" id="q" name="q">
		<input type="submit" value="Search">
	</form>
</div>

<div id="main">

{{ text }}

</div>

<div id="related">
	<p>Related content:</p>
	<ul>
{% for item in related %}
		<li class="related"><p class="icon"><img src="{{ item[0] }}"></p><p class="result">{{ item[1] }}</p></li>
{% endfor %}
	</ul>
</div>

<div id="footer">
This site uses the following services:
<ul>
	<li><a href="http://duckduckgo.com">duckduckgo</a>: <a href="http://duckduckgo.com/api.html">Zero-click Info API</a>.</li>
	<li><a href="http://bing.com">Bing&trade;</a>: <a href="https://datamarket.azure.com/dataset/5BA839F1-12CE-4CCE-BF57-A49D98D29A44">Bing&trade; Search API</a>.</li>
	<li><a href="http://dbpedia.com">DBpedia</a>: <a href="http://wiki.dbpedia.org/OnlineAccess#h28-11">Linked Data sources</a>.</li>
</ul>
</div>

</div>
</body>
</html>
